@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

html {
  background: #fafaf9;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
